<%- include('../partials/html-head', {
    title: "You Are Not Allowed To Be Here",
    styles: [
        "themes/main", 
        "utils/fonts",
        "utils/misc",
        "404"
    ]
}); %>

<body class="body-404">
    <div class="narrow-404 narrow-page-box">
        <div class="sc-icon"></div>
        <h1 class="title-404">You are not allowed to be here</h1>
        <h4 class="desc-404">This page is available only for admins</h4>
    </div>
</body>
<script>
</script>

</html>