<html>

<body>
    <p>Unfortunately, you are not allowed to register here right now. Come back later. Redirecting...</p>;
</body>
<script>
    if (window.opener) {
        window.close();
    }
</script>

</html>