<header class="header-page">
    <div class="header-buttons">
        <div class="header-logo">
            <a href="/"><img class="header-logo-img" src="/scw_logo.png" /></a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a class="header-menu-link" href="/chart">Chart</a></li>
                <li><a class="header-menu-link" href="/artists">Artists</a></li>
                <li><a class="header-menu-link" href="/parse?post=1">Parse</a></li>
                <li><a class="header-menu-link" href="/admin">Admin</a></li>
            </ul>
        </div>
    </div>
</header>