<header class="header-page">
    <div class="header-buttons">
        <div class="header-logo">
            <a href="/"><img class="header-logo-img" src="/sc_logo.svg" /></a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a class="header-menu-link" href="/chart">Chart</a></li>
                <li><a class="header-menu-link" href="/artists">Artists</a></li>
                <li><a class="header-menu-link" href="/changelog">Changelog</a></li>
                <% if (locals.isAdmin) { %>
                    <li><a class="header-menu-link" href="/parse?post=1">Parse</a></li>
                    <li><a class="header-menu-link" href="/admin">Admin</a></li>
                <% }; %>
            </ul>
        </div>
        <div class="header-menu">
            <ul>
                <% if (locals.currentUser) { %>
                    <li class="header-menu-entry" >
                        <img class="user-avatar" src=<%= locals.currentUser.photos[0].value %> 
                        onerror="this.onerror=null; this.src='/img/artists/placeholder.jpg';"/>
                        <a><%= locals.currentUser.displayName %></a>
                    </li>
                <% } else { %>
                    <li><a class="header-menu-link" href="/auth/google">Login</a></li>
                <% }; %>
            </ul>
        </div>
    </div>
</header>