<%- include('partials/html-head', {
    title: "Page Not Found",
    styles: [
        "themes/main", 
        "utils/fonts",
        "utils/misc",
        "404"
    ]
}); %>

<body class="body-404">
    <div class="narrow-404 narrow-page-box">
        <div class="sc-icon"></div>
        <h1 class="title-404">This page does not exist</h1>
        <h4 class="desc-404">You can return to <a href="/">Home page</a></h4>
    </div>
</body>
<script>
</script>

</html>