<%- include('partials/html-head', {
    title: "Changelog",
    styles: [
        "themes/main", 
        "utils/fonts",
        "utils/misc",
        "components/header-menu",
        "components/changelog/changelog-entry"
    ]
}); %>

<body>
    <%- include('partials/header-menu'); %>
        <div class="wide-page-box">
            <div class="head-padding artist-hub-header">
                <h1 class="page-title">Changelog</h1>
            </div>
            <div class="changelog-container">
            <% changelog.forEach((entry)=> { %>
                <%- include('partials/changelog/changelog-entry', {entry: entry}); %>
            <% }); %>
            </div>
        </div>
</body>
<script>
</script>

</html>