<%- include('partials/html-head', {
    title: "Salty Chart",
    styles: [
        "utils/fonts",
        "utils/misc",
        "main",
    ],
    semantic: [
        "button"
    ]

}); %>

<body class="main-page-body">
    <div class="main-page-bg">
        <div class="main-page-logo">
            <img class="main-page-logo-img" src="sc_logo_huge.svg"/>
        </div>
        <div class="main-page-button">
            <button class="ui primary button main-page-button-itself">Enter</button>
        </div>
    </div>
</body>