@media(max-width: 960px) {
    .artist-hub-entry {
        width: 22% !important;
    }

    .artists-hub-container {
        justify-content: center;
    }
}

@media(max-width: 650px) {
    .artist-hub-entry {
        width: 29% !important;
    }

    .artist-hub-header {
        flex-direction: column;
        align-items: center !important;
    }
}

.artists-hub-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}