@media(max-width: 960px) {
    .artist-hub-entry {
        width: 22% !important;
    }

    .artists-hub-container {
        justify-content: center;
    }
}

@media(max-width: 650px) {
    .artist-hub-entry {
        width: 29% !important;
    }

    .artist-hub-header {
        flex-direction: column;
        align-items: center !important;
    }
}

.artists-hub-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.artist-hub-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 15px;
    width: 17.8%;
}

.artist-img-small {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    transition: .2s;
}

.artist-img-small:hover {
    filter: contrast(60%) brightness(123%);
}

.artist-image-link {
    width: fit-content;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
}

.artist-link-hub {
    color: #000000;
    text-decoration: none;
    width: fit-content;
}

.artist-link-hub:hover {
    text-decoration: underline;
}

.artist-hub-name {
    font-family: "Crystal Medium", "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 14px;
    max-width: 140px;
    display: flex;
    text-align: center;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

nav {
    border-top: 1px solid #eeeeee;
    margin-top: 0.5em;
    font: 1.2em sans-serif;

    display: flex;
    justify-content: center;
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.pagination li {
    margin: 0 1px;
}

.pagination a {
    font-family: "Crystal Condensed Semibold", monospace;
    display: block;
    padding: 0.4em 0.7em;
    border: 1px solid #501a87;
    border-radius: 0.2em;
    text-decoration: none;
    font-size: 15px;
    color: #501a87;
}

.pagination a[aria-current="page"] {
    background-color: #501a87;
    color: white;
}

.pagination-box {
    margin: 30px 0 20px 0;
}

.artist-hub-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu-drop {
    font-family: "Azeret Mono", monospace;
    letter-spacing: -0.3px;
    word-spacing: -3px;
    padding-right: 5px;
    font-size: 13px;
}

.menu-drop-btns {
    display: none;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    position: absolute;
    z-index: 1005;
    border: #000000 1px solid;
    background-color: #f6f6f6;
}

.menu-drop-head {
    border: #000000 1px solid;
    width: 190px;
    padding: 3px 10px;
    background-color: #f6f6f6;
    cursor: pointer;
}

.menu-drop-btns a {
    color: #000000;
    text-decoration: none;
    padding: 1px 10px;
    width: 188.5px;
    display: block;
}

.menu-drop-btns a:hover {
    text-decoration: underline;
    background-color: #aeaef6;
}

.over {
    display: block;
}

.activated {
    background-color: #aeaef6;
    pointer-events: none;
    text-decoration: none;
}