@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@media(max-width: 960px) {
    .artist-page-top {
        flex-direction: column;
    }

    .header-buttons {
        flex-direction: column;
    }
}

.artist-page-top {
    background-color: var(--main-color-200);
    padding: 50px 75px 20px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.artist-header {
    display: flex;
    align-items: center;
    gap: 35px;
}

.artist-img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px var(--main-color-700);
}

.artist-title {
    font-family: "Crystal Extra Bold", "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

.artist-type {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 6px 0;
    font-size: 16px;
}

.members-title {
    margin-top: 15px;
    margin-bottom: 12px;
}

.band-block {
    padding: 5px;
    background-color: var(--white);
    border-radius: 5px;
    font-family: "Crystal Medium", sans-serif;
    font-style: normal;
    font-size: 14px;
}

.band-block a {
    color: var(--black);
    text-decoration: none;
}

.band-block a:hover {
    text-decoration: underline;
}

.artist-stats {
    display: flex;
    grid-gap: 1.125rem;
    height: 100%;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    --site-max-width: 74.5rem;
}

.artist-stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 6px;
    border-color: var(--main-color-700);
    width: 7.375rem;
    padding: 1.375rem .5rem 1.125rem .5rem;
    max-height: 6.9375rem;
    box-sizing: border-box;
}

.artist-stat-number {
    line-height: 1.75rem;
    font-weight: 800;
    font-size: 2.5rem;
    border-bottom: 1px solid;
    border-color: var(--main-color-700);
    padding-bottom: 0.9375rem;
    width: 100%;
    text-align: center;
    margin-bottom: .75rem;
    font-family: "Crystal Extra Bold", serif;
}

.artist-stat-desc {
    line-height: 0.875rem;
    font-weight: 600;
    font-size: .687rem;
    padding-bottom: 0.9375rem;
    width: 100%;
    text-align: center;
    margin-bottom: .75rem;
    font-family: "Azeret", sans-serif;
    text-transform: uppercase;
}

.chart-track-box {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin: 0.625rem 0;
}

.artist-track {
    border-radius: 6px;
    height: 4.625rem;
    display: flex;
    background-color: var(--white);
    box-shadow: var(--main-color-200) 0px 0px 7px;
}

.artist-track-data {
    padding: 0 2.875rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.truncate-text-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.artist-track-title {
    margin-bottom: 0.125rem;
    letter-spacing: .011rem;
    font-weight: 800;
    font-size: 1.125rem;
    font-family: "Crystal Extra Bold", "Ubuntu", serif;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.artist-track-performer {
    margin-top: 0.005rem;
    letter-spacing: .01rem;
    font-weight: 300;
    font-size: .93rem;
    line-height: 1.35;
    color: var(--gray-color-600);
    font-family: "Crystal Book", "Ubuntu", serif;
    cursor: text;
}

.artist-track-stats {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.artist-track-stats-debut {
    width: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-width: 0.125rem;
    border-color: var(--main-color-100);
}

.artist-track-stats-debut-date {
    letter-spacing: .008rem;
    font-weight: 500;
    font-size: 0.8125rem;
    font-family: "Crystal Medium", serif;
    line-height: 1.35;
}

.artist-track-stats-debut-date a {
    text-underline-offset: .3125rem;
    text-decoration: underline;
    text-decoration-color: currentColor;
    color: var(--black);
}

.artist-track-stats-debut-date a:hover {
    text-decoration: none;
}

.artist-track-stats-peak {
    border-right-width: 0.125rem;
    border-color: var(--main-color-100);
    width: 4.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist-track-stats-peak-num {
    letter-spacing: .013rem;
    line-height: 1.35;
    font-size: 1.25rem;
    font-family: "Crystal Extra Bold", serif;
    font-weight: 800;
}

.artist-track-stats-peak-amount {
    line-height: 1.0625rem;
    padding: 0 0.375rem;
    margin-top: .25rem;
    letter-spacing: .053rem;
    font-weight: 700;
    font-size: 0.5625rem;
    text-align: center;
    background-color: var(--main-color-300);
    font-family: "Crystal Extra Bold", serif;
}

.table-header {
    background-color: var(--main-color-200);
    padding-bottom: 7px;
    height: 38px;
    box-sizing: border-box;
}

.table-header-texts {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-family: "Ubuntu", monospace;
    letter-spacing: .013rem;
    font-size: 14px;
    font-weight: 500;
}

.table-header-text-block {
    width: 7.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.table-header-text-block-2 {
    width: 4.375rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

[aria-current="disabled"] {
    pointer-events: none;
    text-decoration: none;
    color: var(--gray-color-600);
}