.changelog-date {
    margin: 0 0 10px 0;
    color: var(--gray-color-600);
    font-size: 1.25em;
    font-family: 'Crystal Medium', sans-serif;
}

.changelog-version {
    display: flex;
    gap: 7px;
    align-items: flex-end;
}

.changelog-version-number {
    margin: 0 0 2px 0;
    color: var(--gray-color-500);
    font-size: 1.05em;
    font-family: 'Crystal Medium', sans-serif;
}

.changelog-version-phaze {
    color: var(--white);
    font-size: 0.9em;
    font-family: 'Crystal Medium', sans-serif;
    margin: 0;
    float: left;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: var(--main-color-bright-700);
}

.changelog-entry {
    margin: 0 0 2px 0;
    font-size: 0.9em;
    font-family: 'Crystal Medium', sans-serif;
}

.changelog-block {
    border-bottom: 1px solid var(--main-color-700);
    margin-bottom: 16px;
}

.changelog-block:last-child {
    border: none;
}