.wide-box {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    margin: auto;
}

.changelog-date {
    margin: 0 0 10px 0;
    color: #5b5b5b;
    font-size: 1.25em;
    font-family: 'Crystal Medium', sans-serif;
}

.changelog-version {
    display: flex;
    gap: 7px;
    align-items: flex-end;
}

.changelog-version-number {
    margin: 0 0 2px 0;
    color: #737373;
    font-size: 1.05em;
    font-family: 'Crystal Medium', sans-serif;
}

.changelog-version-phaze {
    color: #ffffff;
    font-size: 0.9em;
    font-family: 'Crystal Medium', sans-serif;
    margin: 0;
    float: left;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #6a6ad6;
}

.changelog-entry {
    margin: 0 0 2px 0;
    font-size: 0.9em;
    font-family: 'Crystal Medium', sans-serif;
}

.changelog-block {
    border-bottom: 1px solid #6a6ad6;
    margin-bottom: 16px;
}