.date-box {
    font-family: "Azeret Mono", monospace;
    padding: 10px 16px 9px 16px;
    border: 0.8px black solid;
    line-height: 2.5625rem;
    word-spacing: -0.1875rem;
    font-weight: 600;
}

.date-box-input {
    background-color: #f4f4ff;
    font-family: "Azeret Mono", monospace;
    padding: 0 16px 0 16px;
    border: 0.8px black solid;
    line-height: 2.1625rem;
    word-spacing: -0.1875rem;
    font-weight: 700;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.chart-entry {
    display: flex;
    background-color: #fff;
    border-radius: 6px;
    align-items: center;
    list-style-type: none;
    padding: 4px 0 4px 0;
    margin-top: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

.chart-entry-pos {
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.first-place-container {
    background-color: #aeaef6;
}

.chart-entry-pos-text-one {
    font-weight: 800;
    font-family: "Crystal Extra Bold", serif;
    font-size: 2.063rem;
}

.chart-entry-pos-text {
    font-weight: 800;
    font-family: "Crystal Extra Bold", serif;
    font-size: 1.375rem;
}

.chart-entry-out-text {
    font-weight: 800;
    font-family: "Crystal Extra Bold", serif;
    font-size: 1.025rem;
}

.chart-entry-img-container {
    padding-top: 4px;
}

.chart-entry-img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.first-place {
    border-left: 0.3125rem solid;
    border-color: #aeaef6;
    width: 170px;
    height: 170px;
}

.dropout-img {
    border-left: 0.3125rem solid;
    border-color: #b91b20;
    width: 70px;
    height: 70px;
}

.chart-change {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-entry-rest {
    width: 100%;
}

.chart-entry-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0 0.75rem 0 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.chart-entry-song-info {
    max-width: 24.8125rem;
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.chart-entry-title {
    line-height: 1.375rem;
    word-spacing: .063rem;
    max-width: 24.8125rem;
    letter-spacing: .01rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: "Crystal Extra Bold", serif;
    padding: 0 0 0 0;
    margin: 0 0 .25rem 0;
}

.chart-entry-artist {
    line-height: 1.3125rem;
    max-width: 24.8125rem;
    letter-spacing: .01rem;
    font-size: .93rem;
    font-family: "Crystal Book", serif;
    font-weight: 300;
}

.chart-entry-artist a {
    text-decoration: none;
    color: #000000;
}

.chart-entry-artist a:hover {
    text-decoration: underline;
}

.chart-entry-stats {
    padding-top: 0.375rem;
}

.chart-entry-stats-line {
    display: flex;
    align-self: stretch;
    margin-bottom: 0.375rem;
    grid-gap: 1.25rem;
    justify-content: space-between;
    align-items: center;
}

.chart-entry-stats-title {
    line-height: normal;
    color: #8d8d8d;
    width: 2.5rem;
    font-size: .75rem;
    text-align: left;
    font-family: "Crystal Book", serif;
    font-weight: 300;
}

.chart-entry-stats-value {
    display: flex;
    line-height: normal;
    min-width: 1.875rem;
    font-weight: 800;
    font-size: .75rem;
    font-weight: 800;
    font-family: "Crystal Extra Bold", serif;
}

.change-label {
    background-color: #fff100;
    width: 2.8125rem;
    line-height: 1.2;
    letter-spacing: 0;
    display: block;
    text-align: center;
    color: #2b2e3c;
    font-family: "Crystal Extra Bold", serif;
    font-size: 0.6875rem;
    font-weight: 800;
    padding: 0.25rem 0;
}

.change-circle {
    width: 1.625rem;
}

.chart-out-pos {
    width: 5px;
}

.dropout-header {
    font-family: "Crystal Condensed Semibold", serif;
    font-size: 28px;
    text-align: center;
    padding: 25px 0 15px 0;
}