.msg-box {
    font-family: "Crystal Medium", serif;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
}

.hidden-box {
    display: none;
}

.shown-box {
    display: block;
}

.success-box {
    background-color: var(--primary-color);
}

.fail-box {
    background-color: var(--red-error);
}