body {
    background-color: var(--page-bg);
    margin: 0;
}

.page-title {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 47px;
    letter-spacing: -0.5px;
    border-bottom: var(--primary-color) solid 10px;
    line-height: 20px;
    width: fit-content;
    padding-right: 50px;
    padding-top: 18px;
    margin-bottom: 40px;
}

.head-padding {
    padding: 20px 0 16px 0;
}

.narrow-page-box {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: auto;
}

.wide-page-box {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    margin: auto;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.truncate-text-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

[aria-current="disabled"] {
    pointer-events: none;
    text-decoration: none;
    color: var(--gray-color-600);
}

* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}